body{
	 width: 1000px;
	 background-color: #ffffff;
	 margin: auto;
}	

.jumbotron {
	background-image: url(image/jumbotron-image3.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 500px;
	text-align: center;
	border-radius: 18px;
	margin-top: -125px;
	margin-left: -130px;
	margin-right: -130px;
}

.jumbotron .display-4{
	color: white;
	margin-top: 145px;
}

.jumbotron p {
	color: white;
	font-size: 30px;
}

.jumbotron hr {
	border-color: yellow;
	width: 100px;
	border-width: 8px;
}

.carousel-indicators {
	margin-left: 390px;
}

.carousel-inner {
	margin: -32px;
	margin-left: 1px;
	border-radius: 18px;
}

h2{
	color: black;
	font-family: sans-serif;
	margin-left: 30px;
}


ul {
	list-style-type: none;
	margin-left: -150px;
	padding: 0;
	width: 200px;
}

li a{
	display: block;
	font-family: poppins, sans-serif;
	font-weight: bold;
	color: #ffffff;
	padding-left: 60px;
	margin-top: 30px;
	text-decoration: none;
	font-size: 20px;
}

.row{
	background-color: gray;
	margin: auto;
	margin-bottom: 100px;
	display: inline-block;
	margin-right: 12px;
	border-radius: 15px;
	padding-top: 15px;
}

.card-img-top{
	border-radius: 15px;
}	

.col h2{
	color: #000000;
}

div .card-body{
	color: #ffffff;
}

.footer{
	font-family: poppins;
	text-align: left;
	background-color: gray;
	padding-bottom: 25px;
	padding-top: 20px;
	padding-left: 190px;
	margin-left: -130px;
	margin-right: -130px;
	color: #ffffff;
	border-radius: 18px;
}

.footer span{
	font-weight: bold;
	color: black;
}